[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
wemake-python-styleguide = "*"
autopep8 = "*"
pep8 = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"
